/* Error: Expected identifier.
 *    ,
 * 17 |   &:::after{
 *    |      ^
 *    '
 *   css\core\_grid.scss 17:6  @import
 *   css\bubblegum.scss 15:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 17 \2502    &:::after{\d\a    \2502       ^\a    \2575 \a   css\\core\\_grid.scss 17:6  @import\a   css\\bubblegum.scss 15:9   root stylesheet";
}
