html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

[_container], [_row] {
  zoom: 1; }
  [_container]::before, [_row]::before, [_container]::after, [_row]::after {
    content: '';
    display: table; }
  [_container]::after, [_row]::after {
    clear: both; }

[_container] {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%; }
  [_container][_container~='full'] {
    max-width: none; }

[_row] {
  align-content: start;
  align-items: start;
  display: flex;
  flex-wrap: wrap; }
  [_row][_row~='row'] {
    flex-direction: row; }
  [_row][_row~='reverse'] {
    flex-direction: row-reverse; }
  [_row][_row~='column '] {
    flex-direction: column; }
  [_row][_row~='col'] {
    flex-direction: column; }
  [_row][_row~='nowrap'] {
    flex-wrap: nowrap; }
  [_row][_row~='wrap'] {
    flex-wrap: wrap; }
  [_row][_row~='wrap-reverse'] {
    flex-wrap: wrap-reverse; }
  [_row][_justify~='start'] {
    justify-content: start; }
  [_row][_justify~='end'] {
    justify-content: end; }
  [_row][_justify~='center'] {
    justify-content: center; }
  [_row][_justify~='between'] {
    justify-content: space-between; }
  [_row][_justify~='around'] {
    justify-content: space-around; }
  [_row][_justify~='evenly'] {
    justify-content: space-evenly; }
  [_row][_items~='stretch'] {
    align-items: stretch; }
  [_row][_items~='start'] {
    align-items: start; }
  [_row][_items~='end'] {
    align-items: end; }
  [_row][_items~='center'] {
    align-items: center; }
  [_row][_items~='baseline'] {
    align-items: baseline; }
  [_row][_content~='start'] {
    align-content: start; }
  [_row][_content~='end'] {
    align-content: end; }
  [_row][_content~='center'] {
    align-content: center; }
  [_row][_content~='between'] {
    align-content: space-between; }
  [_row][_content~='around'] {
    align-content: space-around; }
  [_row][_content~='evenly'] {
    align-content: space-evenly; }
  [_row][_content~='stretch'] {
    align-content: stretch; }
  [_row] [_self~='stretch'] {
    align-self: stretch; }
  [_row] [_self~='start'] {
    align-self: start; }
  [_row] [_self~='end'] {
    align-self: end; }
  [_row] [_self~='center'] {
    align-self: center; }
  [_row] [_self~='baseline'] {
    align-self: baseline; }
  [_row][_row~='column'][_row~='reverse'], [_row][_row~='col'][_row~='reverse'] {
    flex-direction: column-reverse; }

[_col] {
  border: 1px solid blue;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 100%; }
  [_col][_col~='1'] {
    width: 8.3333333333%; }
  [_col][_push~='1'] {
    left: 8.3333333333%; }
  [_col][_pull~='1'] {
    left: -8.3333333333%; }
  [_col][_col~='2'] {
    width: 16.6666666667%; }
  [_col][_push~='2'] {
    left: 16.6666666667%; }
  [_col][_pull~='2'] {
    left: -16.6666666667%; }
  [_col][_col~='3'] {
    width: 25%; }
  [_col][_push~='3'] {
    left: 25%; }
  [_col][_pull~='3'] {
    left: -25%; }
  [_col][_col~='4'] {
    width: 33.3333333333%; }
  [_col][_push~='4'] {
    left: 33.3333333333%; }
  [_col][_pull~='4'] {
    left: -33.3333333333%; }
  [_col][_col~='5'] {
    width: 41.6666666667%; }
  [_col][_push~='5'] {
    left: 41.6666666667%; }
  [_col][_pull~='5'] {
    left: -41.6666666667%; }
  [_col][_col~='6'] {
    width: 50%; }
  [_col][_push~='6'] {
    left: 50%; }
  [_col][_pull~='6'] {
    left: -50%; }
  [_col][_col~='7'] {
    width: 58.3333333333%; }
  [_col][_push~='7'] {
    left: 58.3333333333%; }
  [_col][_pull~='7'] {
    left: -58.3333333333%; }
  [_col][_col~='8'] {
    width: 66.6666666667%; }
  [_col][_push~='8'] {
    left: 66.6666666667%; }
  [_col][_pull~='8'] {
    left: -66.6666666667%; }
  [_col][_col~='9'] {
    width: 75%; }
  [_col][_push~='9'] {
    left: 75%; }
  [_col][_pull~='9'] {
    left: -75%; }
  [_col][_col~='10'] {
    width: 83.3333333333%; }
  [_col][_push~='10'] {
    left: 83.3333333333%; }
  [_col][_pull~='10'] {
    left: -83.3333333333%; }
  [_col][_col~='11'] {
    width: 91.6666666667%; }
  [_col][_push~='11'] {
    left: 91.6666666667%; }
  [_col][_pull~='11'] {
    left: -91.6666666667%; }
  [_col][_col~='12'] {
    width: 100%; }
  [_col][_push~='12'] {
    left: 100%; }
  [_col][_pull~='12'] {
    left: -100%; }

@font-face {
  font-family: 'Quicksand Light';
  src: url("fonts/Quicksand-Light.eot");
  src: local("Quicksand Light"), local("Quicksand-Light"), url("fonts/Quicksand-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Quicksand-Light.woff2") format("woff2"), url("fonts/Quicksand-Light.woff") format("woff"), url("fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Quicksand Medium';
  src: url("fonts/Quicksand-Medium.eot");
  src: local("Quicksand Medium"), local("Quicksand-Medium"), url("fonts/Quicksand-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Quicksand-Medium.woff2") format("woff2"), url("fonts/Quicksand-Medium.woff") format("woff"), url("fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Quicksand Regular';
  src: url("fonts/Quicksand-Regular.eot");
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("fonts/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Quicksand-Regular.woff2") format("woff2"), url("fonts/Quicksand-Regular.woff") format("woff"), url("fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Quicksand Bold';
  src: url("fonts/Quicksand-Bold.eot");
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("fonts/Quicksand-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Quicksand-Bold.woff2") format("woff2"), url("fonts/Quicksand-Bold.woff") format("woff"), url("fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Quicksand SemiBold';
  src: url("fonts/Quicksand-SemiBold.eot");
  src: local("Quicksand SemiBold"), local("Quicksand-SemiBold"), url("fonts/Quicksand-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Quicksand-SemiBold.woff2") format("woff2"), url("fonts/Quicksand-SemiBold.woff") format("woff"), url("fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Fira Code';
  src: url("fonts/FiraCode-Regular.eot");
  src: local("Fira Code Regular"), local("FiraCode-Regular"), url("fonts/FiraCode-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/FiraCode-Regular.woff2") format("woff2"), url("fonts/FiraCode-Regular.woff") format("woff"), url("fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
html {
  font-family: 'Quicksand Regular', sans-serif; }

/*# sourceMappingURL=bubblegum.css.map */
