/******************************************************
* PrismJS 1.23.0
*
* prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
* Based on https://github.com/chriskempson/tomorrow-theme
*
* @author Rose Pritchard
******************************************************
* Bubblegum integration by Antharuu
******************************************************/

code[class*="language-"],
code#{selector('code')} {
  background: none;
  color: $COLOR-light;
  font-family: 'Fira Code', monospace;
  font-size: 1.01em;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

pre[class*="language-"],
pre#{selector('code')} {
  background: none;
  color: $COLOR-light;
  font-family: 'Fira Code', monospace;
  font-size: 1.01em;
  hyphens: none;
  line-height: 1.5;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

:not(pre) > code[class*="language-"],
:not(pre) > code#{selector('code')},
pre[class*="language-"],
pre#{selector('code')} {
  background: $COLOR-dark;
}


:not(pre) > code[class*="language-"],
:not(pre) > code#{selector('code')} {
  padding: .1em;
  white-space: normal;
}

.token {
  &.comment, &.block-comment, &.prolog, &.doctype, &.cdata {
    color: $COLOR-muted;
  }

  &.punctuation {
    color: $COLOR-light;
  }

  &.tag, &.attr-name, &.namespace, &.deleted {
    color: $COLOR-red;
  }

  &.function-name {
    color: $COLOR-blue;
  }

  &.boolean, &.number, &.function {
    color: $COLOR-amber;
  }

  &.property, &.class-name, &.constant, &.symbol {
    color: $COLOR-yellow;
  }

  &.selector, &.important, &.atrule, &.keyword, &.builtin {
    color: $COLOR-pink;
  }

  &.string, &.char, &.attr-value, &.regex, &.variable {
    color: $COLOR-green;
  }

  &.operator, &.entity, &.url {
    color: $COLOR-blue;
  }

  &.important, &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }

  &.inserted {
    color: $COLOR-green;
  }
}