@require 'bubblegum/configs/_configuration';
@require 'bubblegum/configs/_variables';
@require 'bubblegum/core/_functions';
@require 'bubblegum/core/_mixins';

@require 'bubblegum/utilities/_reset';
@import 'bubblegum/utilities/_base';

if $Core.use.breakpoints {
  for $breakpoint, $size in $Grid.breakpoints {
    if $breakpoint != $Grid.ignored_breakpoint {
      @media screen and (min-width: $size) {
        @import 'bubblegum/core/_breakpoints_imports';
      }
    } else {
      @import 'bubblegum/core/_breakpoints_imports';
    }
  }
} else {
  $breakpoint = xs;
  @import 'bubblegum/core/_breakpoints_imports';
}

$breakpoint = xs;
@import 'bubblegum/layout/_margins';
@import 'bubblegum/utilities/_others';

@import "bubblegum/components/*"