@media screen and (max-width: 770px)
  #brand
    margin-left: -2.5em

  #links
    margin-bottom: 2em

    li, li a
      margin-top: 1em
      width 100%
      text-align: center

  #home-container
    a
      text-align: center;
      display: block;
      width: 100%
      margin auto
      margin-bottom: .5em

    code
      text-align: center !important;
      font-size: clamp(16px, 5vw, 24px) !important
