@include add-breakpoints using($size) {
  #{selector('show', '', $size)},
  #{selector('show', 'true', $size)},
  #{selector('hide', 'false', $size)} {
    display: block;
  }
  #{selector('hide', '', $size)},
  #{selector('hide', 'true', $size)},
  #{selector('show', 'false', $size)} {
    display: none;
  }

  #{selector('display', 'flex', $size)} {
    display: flex;
  }
  #{selector('display', 'none', $size)} {
    display: none;
  }
  #{selector('display', 'block', $size)} {
    display: block;
  }
  #{selector('display', 'inline', $size)} {
    display: inline;
  }
  #{selector('display', 'flow', $size)} {
    display: flow;
  }
  #{selector('display', 'ruby', $size)} {
    display: ruby;
  }
  #{selector('display', 'grid', $size)} {
    display: grid;
  }
  #{selector('display', 'table', $size)} {
    display: table;
  }
  #{selector('display', 'contents', $size)} {
    display: contents;
  }

  #{selector('overflow', 'hidden', $size)} {
    overflow: hidden;
  }
  #{selector('overflow', 'auto', $size)} {
    overflow: auto;
  }
  #{selector('overflow', 'scroll', $size)} {
    overflow: scroll;
  }
  #{selector('overflow', 'visible', $size)} {
    overflow: visible;
  }
  #{selector('overflow', 'x-hidden', $size)} {
    overflow-x: hidden;
  }
  #{selector('overflow', 'x-auto', $size)} {
    overflow-x: auto;
  }
  #{selector('overflow', 'x-scroll', $size)} {
    overflow-x: scroll;
  }
  #{selector('overflow', 'x-visible', $size)} {
    overflow-x: visible;
  }
  #{selector('overflow', 'y-hidden', $size)} {
    overflow-y: hidden;
  }
  #{selector('overflow', 'y-auto', $size)} {
    overflow-y: auto;
  }
  #{selector('overflow', 'y-scroll', $size)} {
    overflow-y: scroll;
  }
  #{selector('overflow', 'y-visible', $size)} {
    overflow-y: visible;
  }
}