@include add-breakpoints using($size) {
  @include add-logic using($i) {
    #{selector('margin', $i, $size)},
    #{selector('m', $i, $size)} {
      margin: margin-calc($i);
    }

    #{selector('margin', 't-#{$i}', $size)},
    #{selector('m', 't-#{$i}', $size)} {
      margin-top: margin-calc($i);
    }
    #{selector('margin', 'b-#{$i}', $size)},
    #{selector('m', 'b-#{$i}', $size)} {
      margin-bottom: margin-calc($i);
    }
    #{selector('margin', 'l-#{$i}', $size)},
    #{selector('m', 'l-#{$i}', $size)} {
      margin-left: margin-calc($i);
    }
    #{selector('margin', 'r-#{$i}', $size)},
    #{selector('m', 'r-#{$i}', $size)} {
      margin-right: margin-calc($i);
    }
    #{selector('margin', 'y-#{$i}', $size)},
    #{selector('m', 'y-#{$i}', $size)} {
      margin-top: margin-calc($i);
      margin-bottom: margin-calc($i);
    }
    #{selector('margin', 'x-#{$i}', $size)},
    #{selector('m', 'x-#{$i}', $size)} {
      margin-left: margin-calc($i);
      margin-right: margin-calc($i);
    }


    #{selector('padding', $i, $size)},
    #{selector('p', $i, $size)} {
      margin: margin-calc($i);
    }

    #{selector('padding', 't-#{$i}', $size)},
    #{selector('p', 't-#{$i}', $size)} {
      margin-top: margin-calc($i);
    }
    #{selector('padding', 'b-#{$i}', $size)},
    #{selector('p', 'b-#{$i}', $size)} {
      margin-bottom: margin-calc($i);
    }
    #{selector('padding', 'l-#{$i}', $size)},
    #{selector('p', 'l-#{$i}', $size)} {
      margin-left: margin-calc($i);
    }
    #{selector('padding', 'r-#{$i}', $size)},
    #{selector('p', 'r-#{$i}', $size)} {
      margin-right: margin-calc($i);
    }
    #{selector('padding', 'y-#{$i}', $size)},
    #{selector('p', 'y-#{$i}', $size)} {
      margin-top: margin-calc($i);
      margin-bottom: margin-calc($i);
    }
    #{selector('padding', 'x-#{$i}', $size)},
    #{selector('p', 'x-#{$i}', $size)} {
      margin-left: margin-calc($i);
      margin-right: margin-calc($i);
    }


    #{selector('round', $i, $size)},
    #{selector('r', $i, $size)} {
      border-radius: margin-calc($i);
    }
  }
}