@include add-breakpoints using($size) {
  $color: transparentize($COLOR-dark, 1);
  $i: 1;
  #{selector('shadow', '', $size)} {
    box-shadow: 0 shadow-calc(2, 24, $i) shadow-calc(2, 38, $i) shadow-calc(0, 3, $i) opacify($color, .14),
    0 shadow-calc(3, 9, $i) shadow-calc(1, 46, $i) shadow-calc(-2, 8, $i) opacify($color, .12),
    0 shadow-calc(1, 11, $i) shadow-calc(5, 15, $i) shadow-calc(0, -7, $i) opacify($color, .2);
  }

  @include add-logic using($i) {
    #{selector('shadow', $i, $size)} {
      box-shadow: 0 shadow-calc(2, 24, $i) shadow-calc(2, 38, $i) shadow-calc(0, 3, $i) opacify($color, .14),
      0 shadow-calc(3, 9, $i) shadow-calc(1, 46, $i) shadow-calc(-2, 8, $i) opacify($color, .12),
      0 shadow-calc(1, 11, $i) shadow-calc(5, 15, $i) shadow-calc(0, -7, $i) opacify($color, .2);
    }
  }
}