@include add-breakpoints using($size) {
  @for $i from 0 through 20 {
    $i: $i * 5;
    #{selector('size', 'w-#{$i}')} {
      width: $i * 1%;
    }
    #{selector('size', 'h-#{$i}')} {
      height: $i * 1%;
    }
  }

  #{selector('size', 'w-full')} {
    width: 100%;
  }
  #{selector('size', 'h-full')} {
    height: 100%;
  }
  #{selector('size', 'full')} {
    width: 100%;
    height: 100%;
  }
}