@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//@include font-face('Fira Code', 'FiraCode-Regular');

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: unquote($Font.family.main);
  font-size: $Font.size.default;
  line-height 1.5em
}

code {
  font-family: unquote($Font.family.code);
}

html,
body {
  background-color: $Colors.theme.light;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}