$Core = {
  prefix: '_'
  breakpoint_prefix: ':'
  logic_max: 10
  use: {
    breakpoints: true
    color_variants: true
  }
}

_ = {
  current_selector: ''
  directions: {
    left: 'l'
    right: 'r'
    top: 't'
    bottom: 'b'
  }
}