$Grid = {
  columns: 12
  gutters: 30px
  ignored_breakpoint: xs
  breakpoints: {
    xs: 0,
    sm: 580px,
    md: 770px,
    lg: 990px,
    xl: 1280px
  }
}

$Font = {
  family: {
    main: "'Montseratt', sans-serif"
    code: "'Fira code', monospace"
  }
  size: {
    default: 16px
    multiplier: .3
  }
}

$Colors = {
  variants_amount: 3
  variation_amount: 15
  base: {
    'red': #f24236,
    'pink': #e43f6f,
    'purple': #6564db,
    'indigo': #473bf0,
    'blue': #3169c4,
    'cyan': #1fa6c1,
    'teal': #00bfb2,
    'green': #3ccd65,
    'lime': #aad922,
    'yellow': #f7b32b,
    'amber': #ff7f11,
    'orange': #f34213,
    'brown': #823329,
    'grey': #7179ad,
    'black': #1a1d2d,
    'white': #fbfaf8,
    'transparent': transparent
  }
  theme:{
    'dark': #1a1d2d,
    'light': #fbfaf8,
    'primary': #00bfb2,
    'secondary': #7179ad,
    'success': #3ccd65,
    'info': #1fa6c1,
    'warning': #ff7f11,
    'danger': #f24236,
    'muted': #1a1d2d + 40%
  }
  all: {}
  variants: {}
}

$Sizes = {
  margin: {
    base: 5px
    small: 5px
    medium: 15px
    large: 30px
  }
  padding: {
    base: 5px
    small: 5px
    medium: 15px
    large: 30px
  }
  round: {
    base: 5px
    small: 5px
    medium: 15px
    large: 30px
  }
}

$Borders = {
  size: 1px
  type: solid
  default_color: $Colors.theme.muted
}

// ------------------------------------- Colors generation
$Colors.all = merge($Colors.base, $Colors.theme)

if $Core.use.color_variants {
  for $color-name, $color-base in $Colors.all {
    if $color-name != 'transparent' {
      for $variation in 'light' 'dark' {
        for $i in 1..$Colors.variants_amount {
          $power = ($i * $Colors.variation_amount) / 1%
          if $variation == 'light' {
            $color = $color-base + $power
            $Colors.variants[$color-name + '-light-' + $i] = $color
          } else if $variation == 'dark' {
            $color = $color-base - $power
            $Colors.variants[$color-name + '-dark-' + $i] = $color
          }
        }
      }
    }
  }

  $Colors.all = merge($Colors.all, $Colors.variants)
}