for $property in 'width' 'height' {
  +add-selector($property) {
    _.current_selector = $property

    for $i in 0..20 {
      +add-value($i * 5, $property + '-' + $i * 5) {
      }
    }

    +add-value('full', $property + '-100') {
    }
  }
}

+add-selector('size') {
  _.current_selector = 'size'

  for $i in 0..20 {
    +add-value('w-' + $i * 5, 'width-' + $i * 5) {
    }
    +add-value('h-' + $i * 5, 'height-' + $i * 5) {
    }
  }

  +add-value('w-full', 'width-100') {
  }
  +add-value('h-full', 'height-100') {
  }
  +add-value('full', 'width-100', 'height-100') {
  }
}