+add-title('Display', 'display')

+add-sub-title('Display', 'display-display')
p This is a shortcut for the attribute css <code>display</code>
+usages('display', ['flex', 'none', 'block', 'inline', 'flow', 'grid', 'ruby', 'table', 'contents'], true)