$GRID-breakpoints: (
        xs: 0,
        sm: 580px,
        md: 770px,
        lg: 990px,
        xl: 1280px
) !default;

$GRID-columns: 12 !default;

$GRID-gutter: 30px !default;

$MARGIN-base: 5px !default;

$COLORS-variant: 3 !default;

$COLORS-base: (
        'red': #f24236,
        'pink': #e43f6f,
        'purple': #6564db,
        'indigo': #473bf0,
        'blue': #3169c4,
        'cyan': #1fa6c1,
        'teal': #00bfb2,
        'green': #3ccd65,
        'lime': #aad922,
        'yellow': #f7b32b,
        'amber': #ff7f11,
        'orange': #f34213,
        'brown': #823329,
        'grey': #7179ad,
        'black': #1a1d2d,
        'white': #fbfaf8,
        'transparent': transparent
) !default;

$COLORS-theme: (
        'dark': map-get($COLORS-base, 'black'),
        'light': map-get($COLORS-base, 'white'),
        'primary': map-get($COLORS-base, 'teal'),
        'secondary': map-get($COLORS-base, 'grey'),
        'success': map-get($COLORS-base, 'green'),
        'info': map-get($COLORS-base, 'cyan'),
        'warning': map-get($COLORS-base, 'amber'),
        'danger': map-get($COLORS-base, 'red'),
        'muted': lighten(map-get($COLORS-base, 'black'), 40)
) !default;

$COLORS-all: map-merge($COLORS-base, $COLORS-theme) !default;

$COLOR-red: map-get($COLORS-base, 'red') !default;
$COLOR-pink: map-get($COLORS-base, 'pink') !default;
$COLOR-purple: map-get($COLORS-base, 'purple') !default;
$COLOR-indigo: map-get($COLORS-base, 'indigo') !default;
$COLOR-blue: map-get($COLORS-base, 'blue') !default;
$COLOR-cyan: map-get($COLORS-base, 'cyan') !default;
$COLOR-teal: map-get($COLORS-base, 'teal') !default;
$COLOR-green: map-get($COLORS-base, 'green') !default;
$COLOR-lime: map-get($COLORS-base, 'lime') !default;
$COLOR-yellow: map-get($COLORS-base, 'yellow') !default;
$COLOR-amber: map-get($COLORS-base, 'amber') !default;
$COLOR-orange: map-get($COLORS-base, 'orange') !default;
$COLOR-brown: map-get($COLORS-base, 'brown') !default;
$COLOR-grey: map-get($COLORS-base, 'grey') !default;
$COLOR-black: map-get($COLORS-base, 'black') !default;
$COLOR-white: map-get($COLORS-base, 'white') !default;
$COLOR-transparent: map-get($COLORS-base, 'transparent') !default;

$COLOR-dark: map-get($COLORS-theme, 'dark') !default;
$COLOR-light: map-get($COLORS-theme, 'light') !default;
$COLOR-primary: map-get($COLORS-theme, 'primary') !default;
$COLOR-secondary: map-get($COLORS-theme, 'secondary') !default;
$COLOR-success: map-get($COLORS-theme, 'success') !default;
$COLOR-info: map-get($COLORS-theme, 'info') !default;
$COLOR-warning: map-get($COLORS-theme, 'warning') !default;
$COLOR-danger: map-get($COLORS-theme, 'danger') !default;
$COLOR-muted: map-get($COLORS-theme, 'muted') !default;

$FONT-size: 16px !default;