  &#{selector('btn', 'outline')} {
    background-color: transparent;
    @include add-color using($color) {
      &#{selector('btn', $color)} {
        color: color-value($color);
        border-color: color-value($color);

        &:hover {
          background-color: color-value($color);
          border-color: color-value($color);
          color: visible-color(color-value($color));
        }
      }

      @if $CONFIG_colors_variants {
        @include add-logic using($i) {
          &#{selector('btn', '#{$color}-light-#{$i}')} {
            color: color-value($color, $i, true);
            border-color: color-value($color, $i, true);

            &:hover {
              background-color: color-value($color, $i, true);
              border-color: color-value($color, $i, true);
              color: visible-color(color-value($color, $i, true));
            }
          }
        }
        @include add-logic using($i) {
          &#{selector('btn', '#{$color}-dark-#{$i}')} {
            color: color-value($color, $i, false);
            border-color: color-value($color, $i, false);

            &:hover {
              background-color: color-value($color, $i, false);
              border-color: color-value($color, $i, false);
              color: visible-color(color-value($color, $i, false));
            }
          }
        }
      }
    }
  }
}