@import 'variables';
@import 'mixins';

@each $color-name, $color-value in $all-colors {
  $color: map-get($all-colors, '#{$color-name}');

  %background-color-#{$color-name} {
    background-color: $color;
    color: get-contrasted($color);

    @for $i from 1 through $logic-max {
      &-light-#{$i} {
        $val: lighten($color, $i * $color-variants);
        background-color: $val;
        color: get-contrasted($val);
      }

      &-dark-#{$i} {
        $val: darken($color, $i * $color-variants);
        background-color: $val;
        color: get-contrasted($val);
      }
    }
  }

  %color-#{$color-name} {
    color: $color;

    @for $i from 1 through $logic-max {
      &-light-#{$i} {
        $val: lighten($color, $i * $color-variants);
        color: $val;
      }

      &-dark-#{$i} {
        $val: darken($color, $i * $color-variants);
        color: $val;
      }
    }
  }

  %border-color-#{$color-name} {
    border-color: $color;

    @for $i from 1 through $logic-max {
      &-light-#{$i} {
        $val: lighten($color, $i * $color-variants);
        border-color: $val;
      }

      &-dark-#{$i} {
        $val: darken($color, $i * $color-variants);
        border-color: $val;
      }
    }
  }
}

// Background color
@include add-color-property('bg', 'background-color', true);

// Font color
@include add-color-property('font', 'color', true);

// Badge color
@include add-color-property('badge', 'background-color', true);

// Buttons color
@include add-color-property('btn', 'background-color', true);

// Progress color
@include add-color-property('progress', 'background-color', true);
@include add-color-property('bar', 'background-color', true);

// Inputs
@include add-color-property('checkbox', 'background-color', true);
@include add-color-property('switch', 'background-color', true);
@include add-color-property('radio', 'background-color', true);
@include add-color-property('chips', 'background-color', true);
@include add-color-property('range', 'background-color', true);
@include add-color-property('select', 'background-color', true);
@include add-color-property('input', 'background-color', true);
