$inputs-text: (
        'input[type=text]',
        'input[type=email]',
        'input[type=number]',
        'input[type=date]',
        'input[type=datetime-local]',
        'input[type=month]',
        'input[type=password]',
        'input[type=search]',
        'input[type=tel]',
        'input[type=tel]',
        'input[type=time]',
        'input[type=url]',
        'input[type=week]',
        'textarea'
);

#{selector('form-group')} {
  margin-bottom: $MARGIN-base * 3;
  position: relative;


  @include add-color using($color) {
    &#{selector('form-group', $color)} {
      input[type=radio] {
        &:checked {
          & + label {
            &::before {
              border-color: color-value($color) !important;
            }

            &::after {
              background-color: color-value($color) !important;
            }
          }
        }
      }

      input[type=checkbox] {
        &:checked {
          & + label {
            &::before {
              border-color: color-value($color) !important;
              background-color: color-value($color) !important;
            }

            &::after {
            }
          }
        }
      }

      input[type=range] {
        &:focus {
          &::-webkit-slider-thumb {
            background: color-value($color) !important;
          }

          &::-moz-range-thumb {
            background: color-value($color) !important;
          }

          &::-ms-thumb {
            background: color-value($color) !important;
          }
        }
      }
    }

    @if $CONFIG_colors_variants {
      @include add-logic using($i) {
        &#{selector('form-group', '#{$color}-light-#{$i}')} {
          input[type=radio] {
            &:checked {
              & + label {
                &::before {
                  border-color: color-value($color, $i, true) !important;
                }

                &::after {
                  background-color: color-value($color, $i, true) !important;
                }
              }
            }
          }

          input[type=checkbox] {
            &:checked {
              & + label {
                &::before {
                  border-color: color-value($color, $i, true) !important;
                  background-color: color-value($color, $i, true) !important;
                }

                &::after {
                }
              }
            }
          }

          input[type=range] {
            &:focus {
              &::-webkit-slider-thumb {
                background: color-value($color, $i, true) !important;
              }

              &::-moz-range-thumb {
                background: color-value($color, $i, true) !important;
              }

              &::-ms-thumb {
                background: color-value($color, $i, true) !important;
              }
            }
          }
        }
      }

      @include add-logic using($i) {
        &#{selector('form-group', '#{$color}-dark-#{$i}')} {
          input[type=radio] {
            &:checked {
              & + label {
                &::before {
                  border-color: color-value($color, $i, false) !important;
                }

                &::after {
                  background-color: color-value($color, $i, false) !important;
                }
              }
            }
          }

          input[type=checkbox] {
            &:checked {
              & + label {
                &::before {
                  border-color: color-value($color, $i, false) !important;
                  background-color: color-value($color, $i, false) !important;
                }

                &::after {
                }
              }
            }
          }

          input[type=range] {
            &:focus {
              &::-webkit-slider-thumb {
                background: color-value($color, $i, false) !important;
              }

              &::-moz-range-thumb {
                background: color-value($color, $i, false) !important;
              }

              &::-ms-thumb {
                background: color-value($color, $i, false) !important;
              }
            }
          }
        }
      }
    }
  }


  > * {
    display: block;
    width: 100%;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }


  label {
    width: 100%;
    margin: $MARGIN-base 0;
  }

  @each $input in $inputs-text {
    #{$input} {
      color: $COLOR-dark;
      margin: $MARGIN-base 0;
      padding: $MARGIN-base * 2 $MARGIN-base * 3;
      font-size: 1em;
      border-radius: $MARGIN-base;
      border: 1px solid $COLOR-muted;
      font-family: 'Montserrat', sans-serif;

      transition: border-color 250ms ease-in-out;

      &:focus {
        border-color: $COLOR-blue;
        box-shadow: none;
      }

      &:invalid {
        border-color: $COLOR-red;
        box-shadow: none;
      }
    }
  }

  textarea {
    resize: vertical;
    min-height: $MARGIN-base * 8 + 2px;
  }

  &#{selector('form-group', 'inline')} {
    > * {
      display: inline-block;
      width: auto;
    }
  }

  input[type=checkbox] {
    display: inline;
    width: auto;

    & + label {
      display: inline;
      width: auto;
      margin-left: $MARGIN-base;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        height: 16px;
        width: 16px;
        border: 1px solid $COLOR-muted;
        border-radius: $MARGIN-base;
        background-color: $COLOR-light;
      }
    }

    &:checked {
      & + label {
        &::before {
          border-color: $COLOR-primary;
          background-color: $COLOR-primary;
        }

        &::after {
          content: '✓';
          position: absolute;
          left: 2.5px;
          margin-top: .5px;
          color: $COLOR-light;
          font-weight: bold;
        }
      }
    }
  }

  input[type=radio] {
    opacity: 0;
    display: inline;
    width: auto;

    & + label {
      display: inline;
      width: auto;
      margin-left: $MARGIN-base;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        height: 16px;
        width: 16px;
        border: 1px solid $COLOR-muted;
        border-radius: 50%;
        background-color: $COLOR-light;
      }
    }

    &:checked {
      & + label {
        &::before {
          border-color: $COLOR-primary;
        }

        &::after {
          content: '';
          position: absolute;
          color: $COLOR-light;
          font-weight: bold;
          background-color: $COLOR-primary;
          left: 3px;
          top: 2px;
          height: 12px;
          width: 12px;
          border-radius: 50%;
        }
      }
    }
  }

  input[type=range] {
    margin: $MARGIN-base * 2 0;
    background-color: transparent;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      background: lighten($COLOR-muted, 30);
      border-radius: $MARGIN-base;
      width: 100%;
      height: $MARGIN-base;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      margin-top: -5px;
      width: 14px;
      height: 14px;
      background: $COLOR-muted;
      border-radius: 50%;
      cursor: pointer;
      -webkit-appearance: none;
    }

    &::-moz-range-track {
      background: lighten($COLOR-muted, 30);
      border-radius: $MARGIN-base;
      width: 100%;
      height: $MARGIN-base;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      margin-top: -5px;
      width: 14px;
      height: 14px;
      background: $COLOR-muted;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-ms-track {
      border: none;
      color: transparent;
      background: lighten($COLOR-muted, 30);
      width: 100%;
      border-radius: $MARGIN-base;
      height: $MARGIN-base;
      cursor: pointer;
      overflow: hidden !important;
    }

    &::-ms-fill-lower {
      background: transparent;
      border: none;
      border-radius: 2.6px;
    }

    &::-ms-fill-upper {
      background: transparent;
      border: none;
      border-radius: 2.6px;
    }

    &:focus {
      &::-webkit-slider-runnable-track {
        background: lighten($COLOR-muted, 35);
      }

      &::-moz-range-track {
        background: lighten($COLOR-muted, 35);
      }

      &::-ms-track {
        background: lighten($COLOR-muted, 35) !important;
      }

      &::-webkit-slider-thumb {
        background: $COLOR-primary;
      }

      &::-moz-range-thumb {
        background: $COLOR-primary;
      }

      &::-ms-fill-upper {
        background: transparent;
      }

      &::-ms-fill-lower {
        background: transparent;
      }
    }

    &::-ms-thumb {
      margin-top: 0px;
      width: 14px;
      background: $COLOR-muted;
      cursor: pointer;
      border: none;
      border-radius: $MARGIN-base;
      height: $MARGIN-base;
    }

    @supports (-ms-ime-align:auto) {
      margin: 0;
    }
  }
}

#{selector('chips')} {
  @include colorised('chips');
  background-color: $COLOR-muted;
  display: inline-block;
  padding: $MARGIN-base $MARGIN-base * 2;
  border-radius: $MARGIN-base * 3;
  color: $COLOR-light;
  margin-bottom: $MARGIN-base;
  overflow: hidden;
  border: 2px solid $COLOR-muted;

  img {
    object-fit: cover;
    height: calc(1em + 10px);
    margin-left: - $MARGIN-base * 2;
    margin-top: - $MARGIN-base;
    margin-bottom: -$MARGIN-base  - 2;
    border-radius: $MARGIN-base * 3;
  }

  &#{selector('chips', 'square')} {
    border-radius: 0;

    img {
      border-radius: 0;
    }
  }

  &#{selector('chips', 'round')} {
    border-radius: $MARGIN-base * 3;

    img {
      border-radius: $MARGIN-base * 3;
    }
  }
}

#{selector('select-group')} {
  select {
    display: block;
    width: 100%;
    border: 1px solid $COLOR-muted;
    padding: $MARGIN-base $MARGIN-base * 2;
    border-radius: $MARGIN-base;
    color: $COLOR-dark;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    appearance: none;
    box-shadow: none;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }

    option {
      border: 1px solid $COLOR-muted;
    }
  }

  &::before {
    content: '▼';
    position: absolute;
    color: $COLOR-muted;
    top: 28px;
    right: 5px;
    width: 20px;
    height: 20px;
    z-index: 1;
    pointer-events: none;
    transform: scale(.8);
  }
}