@import 'variables';
@import 'mixins';

%col {
  min-height: 1px;
  position: relative;
  width: 100%;
}

%clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

[#{$bubblegum-prefix}container] {
  @extend %clearfix;
  @include add-simple-property('container', 'full', 'max-width', none);
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

}


[#{$bubblegum-prefix}row] {
  @extend %clearfix;

  // Flex direction
  @include add-simple-property('row', 'row', 'flex-direction', row);
  @include add-simple-property('row', 'reverse', 'flex-direction', row-reverse);
  @include add-simple-property('row', 'column ', 'flex-direction', column);
  @include add-simple-property('row', 'col', 'flex-direction', column);

  // Flex wrap
  @include add-simple-property('row', 'nowrap', 'flex-wrap', nowrap);
  @include add-simple-property('row', 'wrap', 'flex-wrap', wrap);
  @include add-simple-property('row', 'wrap-reverse', 'flex-wrap', wrap-reverse);

  // Justify content
  @include add-simple-property('justify', 'start', 'justify-content', start);
  @include add-simple-property('justify', 'end', 'justify-content', end);
  @include add-simple-property('justify', 'center', 'justify-content', center);
  @include add-simple-property('justify', 'between', 'justify-content', space-between);
  @include add-simple-property('justify', 'around', 'justify-content', space-around);
  @include add-simple-property('justify', 'evenly', 'justify-content', space-evenly);

  // Align items
  @include add-simple-property('items', 'stretch', 'align-items', stretch);
  @include add-simple-property('items', 'start', 'align-items', start);
  @include add-simple-property('items', 'end', 'align-items', end);
  @include add-simple-property('items', 'center', 'align-items', center);
  @include add-simple-property('items', 'baseline', 'align-items', baseline);

  // Align content
  @include add-simple-property('content', 'start', 'align-content', start);
  @include add-simple-property('content', 'end', 'align-content', end);
  @include add-simple-property('content', 'center', 'align-content', center);
  @include add-simple-property('content', 'between', 'align-content', space-between);
  @include add-simple-property('content', 'around', 'align-content', space-around);
  @include add-simple-property('content', 'evenly', 'align-content', space-evenly);
  @include add-simple-property('content', 'stretch', 'align-content', stretch);

  // Align self
  @include add-simple-property('self', 'stretch', 'align-self', stretch, true);
  @include add-simple-property('self', 'start', 'align-self', start, true);
  @include add-simple-property('self', 'end', 'align-self', end, true);
  @include add-simple-property('self', 'center', 'align-self', center, true);
  @include add-simple-property('self', 'baseline', 'align-self', baseline, true);

  align-content: start;
  align-items: start;
  display: flex;
  flex-wrap: wrap;

  &[#{$bubblegum-prefix}row~='column'],
  &[#{$bubblegum-prefix}row~='col'], {
    @include add-simple-property('row', 'reverse', 'flex-direction', column-reverse);
  }
}

[#{$bubblegum-prefix}col] {
  @include debug(blue);
  padding: 5px;
  position: relative;
  text-align: center;
  width: 100%;

  @for $size from 1 through $grid-columns {
    @include add-simple-property('col', #{$size}, 'width', $size / $grid-columns * 100%);
    @include add-simple-property('push', #{$size}, 'left', $size / $grid-columns * 100%);
    @include add-simple-property('pull', #{$size}, 'left', 0 - $size / $grid-columns * 100%);
  }
}
