@import 'variables';
@import 'mixins';

[_shadow] {
  @extend [_shadow~='1'];
}

@function i($i, $modifier: 1, $minus: 0) {
  @return (($modifier * $i) - $minus) * 1px ;
}

@for $size from 1 through $logic-max {
  $color: rgba(26, 29, 45, 0);
  
  [#{$bubblegum-prefix}shadow~='#{$size}'] {
    box-shadow: 0 i($size, 5.4, 2.4) i($size, 8.8, 6) i($size, .6) opacify($color, .14),
    0 i($size, 1.8) i($size, 11.3, 10) i($size, 2.4, 4) opacify($color, .12),
    0 i($size, 2.5, 1.5) i($size, 2, -4) i($size, 1.8, 1.8) opacify($color, .2);
  }
}

[_responsive] {
  height: auto;
  width: 100%;
}

[_video] {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

[_circle] {
  border-radius: 50%;
}


