@import 'variables';

@mixin add-simple-property($attribute, $selector, $modified, $value, $is-child: false) {
  $prefix: '';
  @if (not $is-child) {
    $prefix: '&';
  }

  #{$prefix}[#{$bubblegum-prefix}#{$attribute}~='#{$selector}'] {
    #{$modified}: $value;
  }

  @if $all-sizes {
    @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
      @media screen and (min-width: $breakpoint-value) {
        #{$prefix}[#{$bubblegum-prefix}#{$attribute}~='#{$breakpoint-name}#{$size-prefix}#{$selector}'] {
          #{$modified}: $value;
        }
      }
    }
  }
}

@mixin add-col-property($attribute, $modified, $positive: true, $is-child: false) {
  $prefix: '';
  @if (not $is-child) {
    $prefix: '&';
  }
  @for $size from 1 through $grid-columns {
    $value: $size / $grid-columns * 100%;
    @if (not $positive) {
      $value: 0 - $value;
    }

    #{$prefix}[#{$bubblegum-prefix}#{$attribute}~='#{$size}'] {
      #{$modified}: $value;
    }
  }

  @if $all-sizes {
    @for $size from 1 through $grid-columns {
      $value: $size / $grid-columns * 100%;
      @if (not $positive) {
        $value: 0 - $value;
      }

      @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
        @media screen and (min-width: $breakpoint-value) {
          #{$prefix}[#{$bubblegum-prefix}#{$attribute}~='#{$breakpoint-name}#{$size-prefix}#{$size}'] {
            #{$modified}: $value;
          }
        }
      }
    }
  }
}

@mixin add-margin-property($attribute, $modified, $is-child: false, $prefix-attr: '') {
  $prefix: '';
  @if (not $is-child) {
    $prefix: '&';
  }

  #{$prefix}[#{$bubblegum-prefix}#{$attribute}] {
    @extend %margin-#{$modified}-1;
  }

  @for $size from 0 through $logic-max {
    $value: $base-margin * $size;

    #{$prefix}[#{$bubblegum-prefix}#{$attribute}~='#{$prefix-attr}#{$size}'] {
      @extend %margin-#{$modified}-#{$size};
    }
  }

  @if $all-sizes {
    @for $size from 0 through $logic-max {
      $value: $base-margin * $size;
      @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
        @media screen and (min-width: $breakpoint-value) {
          #{$prefix}[#{$bubblegum-prefix}#{$attribute}~='#{$breakpoint-name}#{$size-prefix}#{$prefix-attr}#{$size}'] {
            @extend %margin-#{$modified}-#{$size};
          }
        }
      }
    }
  }
}

@function get-contrasted($color) {
  @if lightness($color) < 50 {
    @return map-get($all-colors, 'white');
  } @else {
    @return map-get($all-colors, 'black');
  }
}

@mixin add-color-property($attribute, $modified, $is-child: false) {
  $prefix: '';
  @if (not $is-child) {
    $prefix: '&';
  }

  @each $color-name, $value in $all-colors {
    #{$prefix}[#{$bubblegum-prefix}#{$attribute}~='#{$color-name}'] {
      @extend %#{$modified}-#{$color-name};

      &[#{$bubblegum-prefix}#{$attribute}~='light'] {
        @extend %#{$modified}-#{$color-name}-light-1;
      }

      @for $i from 1 through $logic-max {
        &[#{$bubblegum-prefix}#{$attribute}~='light-#{$i}'] {
          @extend %#{$modified}-#{$color-name}-light-#{$i};
        }
      }

      &[#{$bubblegum-prefix}#{$attribute}~='dark'] {
        @extend %#{$modified}-#{$color-name}-dark-1;
      }

      @for $i from 1 through $logic-max {
        &[#{$bubblegum-prefix}#{$attribute}~='dark-#{$i}'] {
          @extend %#{$modified}-#{$color-name}-dark-#{$i};
        }
      }
    }
  }
}

@mixin debug($color: #f00) {
  @if $debug {
    border: 1px solid $color;
  }
}

[_debug] {
  @include debug();
  @include add-color-property('debug', 'border-color');
}

