$bubblegum-prefix: '_';
$size-prefix: ':';

$debug: true;

$all-sizes: false;

$logic-max: 5;

// GRID
$grid-columns: 12 !default;
$grid-breakpoints: (
        xs: 0,
        sm: 580px,
        md: 770px,
        lg: 990px,
        xl: 1280px
) !default;

$grid-gutter: 20px;
$base-margin: 5px;

$font-size: 1rem;
$font-tags: h1, h2, h3, h4, h5, h6, p, span, code, i, a;

// COLORS
$color-variants: 5;

$base-colors: (
        'red': #f24236,
        'pink': #e43f6f,
        'purple': #6564db,
        'indigo': #473bf0,
        'blue': #3169c4,
        'cyan': #1fa6c1,
        'teal': #00bfb2,
        'green': #3ccd65,
        'lime': #aad922,
        'yellow': #f7b32b,
        'amber': #ff7f11,
        'orange': #f34213,
        'brown': #823329,
        'grey': #7179ad,
        'black': #1a1d2d,
        'white': #fbfaf8,
        'transparent': transparent
) !default;

$theme-colors: (
        'dark': map-get($base-colors, 'black'),
        'light': map-get($base-colors, 'white'),
        'primary': map-get($base-colors, 'teal'),
        'secondary': map-get($base-colors, 'grey'),
        'success': map-get($base-colors, 'green'),
        'info': map-get($base-colors, 'cyan'),
        'warning': map-get($base-colors, 'amber'),
        'danger': map-get($base-colors, 'red'),
        'muted': lighten(map-get($base-colors, 'red'), 30)
) !default;

$all-colors: map-merge($base-colors, $theme-colors);

