-
    const title = '- Bubblegum | Classless, flexible and modern CSS framework';
    const version = '1.0';
    const version_long = '1.0.0';

    const description = "Bubblegum is a classless CSS framework, this is more than a simple framework, this is a simple, flexible and intuitive modern framework, fast to install, easy to use, and customizable. Created with stylus."

    const active_page = ''
    const doc_folder = 'doc_v2'

    const navbar = {
        'Documentation': 'documentation.html',
        'Contact': 'contact.html',
        'Changelog': 'changelog.html'
    }