-
    const attributes = [
        {
            'layout': {
                'grid': [
                    'container',
                    'row',
                    'columns',
                    'footer'
                ],
                'display': [
                    'display',
                    'direction',
                    'wrap',
                    'justify',
                    'items',
                    'content',
                    'show',
                    'hide',
                    'overflow'
                ],
                'margins': [
                    'round',
                    'margin',
                    'padding'
                ],
                'position': [
                    'position',
                    'float',
                    'z',
                    'vertical'
                ]
            },
            'utilities': {
                'typo': [
                    'headers',
                    'font',
                    'color',
                    'decoration'
                ],
                'sizes': [
                    'height',
                    'width',
                    'size'
                ],
                'components': [
                    'buttons',
                    'card',
                    'form',
                    'breadcrumb',
                    'navbar',
                    'pagination',
                    'list',
                    'progress',
                    'table'
                ],
                'others': [
                    'background',
                    'media',
                    'shadow'
                ]
            }
        }
    ]

+add-title('Attributes', 'attributes')

div(_row='')
    each modules, cat in attributes[0]
        each attributes, module in modules
            div(_col='md:6 lg:4 xl:3' _font='upper center')
                h5(_margin='b-5')= module
                    each attribute in attributes
                        <br>
                        <a href="##{module}-#{attribute}" _font='pink' _decoration='none'>#{attribute}</a>