+add-title('Bundles', 'bundles')

mixin bundle-title(title, link, short_link)
    h5= title
        small &nbsp;~&nbsp;
            a(_font='pink' _decoration='none' target='_blank' href=link)= short_link
            div(_row='')
                block

+bundle-title('Prism', 'https://prismjs.com', 'prismjs.com')
p Prismjs is a code hilighter, it is very complete and easy to use. But we have made it even more intuitive, simple and quick to use.
pre(_code='html' data-src="doc/codes/bundle_prism_1.html")
p(_alert='warning') You need the javascript file to do this.