h5 Bubblegum is a classless and flexible framework
p Bubblegum is a simple and intuitive CSS framework to use, It is totally classless, it can be used with other frameworks.
hr
ul(_padding=0)
    li
        strong Consistent:
        |  Its main objective is to bring together the different uses of classical frameworks, see Bubblegum as a framework accompanied by a whole logic of code and way of thinking.
    br
    li
        strong Fast:
        |  It is fast and uses the <a href="https://stylus-lang.com/" target="_blank" _font="pink" _decoration="none">Stylus</a> library to compile its CSS code, as well as <a href="https://babeljs.io/" target="_blank" _font="pink" _decoration="none">Babel</a> for JS <i _font="muted">(if you use it, as it is completely optional)</i>.
    br
    li
        strong Customizable:
        |  It comes with a bunch of variables that you can modify very simply.
    br
    li
        strong Bundles:
        |  It comes with bundles that allow you to extend its functionalities, it will allow you to use libraries in a simpler and more intuitive way. While remaining consistent with your settings.