+add-title('Overview', 'overview')

p Bubblegum is quite simple, replace all the classes of a framework to make attributes. Except that we go further, the goal being to simplify usage as much as possible.

pre(_code='html' data-src="doc/codes/present_exemple_1.html")
pre(_code='html' data-src="doc/codes/present_exemple_2.html")
pre(_code='html' data-src="doc/codes/present_exemple_3.html")

hr

p You don't need to integrate the javascript file, it is simply complementary and will allow you to use the bundles as a prism for this site.

p: small(_font='muted' _padding='t-5') If you want to learn more, you can also have a look at the code on this page, it was created with Bubblegum 1.0 <small _font='orange'>(But be careful, some things may have changed in future versions.)</small>.