mixin nav-link(link, anchor, name)
    - link = link + '.html'
    if anchor
        - link = link + '#' + anchor
    li: a(href=link).link-navbar= name

mixin nav-title(link, name)
    h5: a(href=link)= name

div(_col='12 lg:2' _font='center lg:right')#doc-nav
    div(_row)#doc-nav-inner
        div(_col='6 md:3 lg:12').nav-part
            +nav-title('documentation.html', 'Overviews')
            ul
                +nav-link('documentation', 'get-started', 'Get started')
                +nav-link('documentation', 'modularity', 'Modularity')
                +nav-link('documentation', 'responsive', 'Responsive')
                +nav-link('documentation', 'colors', 'Colors')
                +nav-link('documentation', 'functions', 'Functions')
                +nav-link('documentation', 'mixins', 'Mixins')
        div(_col='6 md:3 lg:12').nav-part
            +nav-title('utilities.html', 'Utilities')
            ul
                +nav-link('utilities', 'colors', 'Colors')
                +nav-link('utilities', 'spacing', 'Spacing')
                +nav-link('utilities', 'typography', 'Typography')
                +nav-link('utilities', 'visibility', 'Visibility')
                +nav-link('utilities', 'flexbox', 'Flexbox')
                +nav-link('utilities', 'others', 'Others')
        div(_col='6 md:3 lg:12').nav-part
            +nav-title('layout.html', 'Layout') 
            ul
                +nav-link('layout', 'container', 'Container')
                +nav-link('layout', 'rows', 'Row')
                +nav-link('layout', 'columns', 'Columns')
                +nav-link('layout', 'push-pull', 'Push & Pull')
        div(_col='6 md:3 lg:12').nav-part
            +nav-title('form.html', 'Form')
            ul
                +nav-link('form', 'input', 'Input')
                +nav-link('form', 'textarea', 'Textarea')
                +nav-link('form', 'select', 'Select')
                +nav-link('form', 'checkbox-radio', 'Checkbox & Radio')
                +nav-link('form', 'range', 'Range')
        div(_col='6 md:3 lg:12').nav-part
            +nav-title('components.html', 'Components')
            ul
                +nav-link('components', 'alert', 'Alert')
                +nav-link('components', 'button', 'Button')
                +nav-link('components', 'card', 'Card')
                +nav-link('components', 'navigation', 'Navigation')
                +nav-link('components', 'progress', 'Progress')
                +nav-link('components', 'table', 'Table')
        div(_col='6 md:3 lg:12').nav-part
            +nav-title('#', 'Bundles')
            ul
                +nav-link('bundles-prismjs', '', 'Prism')