include variables

doctype
html
    head
        block title
        meta(name='description'  content=description)
        meta(charset='UTF-8')
        block headers
            link(rel='stylesheet' href='../css/bubblegum.css')
            link(rel='stylesheet' href='css/main.css')
            link(rel='shortcut icon' href='../favicon.png' type='image/x-icon')
    body
        #navbar-rule
        #navbar
            div(_container='')
                a(href='index.html')#brand
                    img(src='../favicon.png')
                    | ubblegum
                ul#links
                    each link, name in navbar
                        if active_page === link
                            li.active: a(href=link)=name
                        else
                            li: a(href=link)=name
                    li.btn-started: a(href='documentation.html') Get started

        block content

        script(src='js/main.dev.js')
        script(src='../js/bubblegum.min.js')
        footer(_container='')
            div(_row='' _justify='center')
                div(_col='10')
                    ul#bottom-links
                        li: a(href='https://github.com/antharuu/BubbleGum' target='_blank') Github
                        li: a(href='https://www.npmjs.com/package/bubblegum-css' target='_blank') Npm
                        li: a(href='https://twitter.com/Antharuu' target='_blank') Twitter
                        li: a(href='about.html' target='_blank') About
                    p#credits Designed and created by Anthony Bellancourt, with <a href='https://stylus-lang.com/' target='_blank'>stylus</a>.
                    p#licence Currently v#{version_long}. Licence <a target='_blank' href='https://github.com/antharuu/BubbleGum/blob/main/LICENSE'>MIT</a>.